body .modal_crearfranja{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.modal_crearfranja{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);	
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
.btn_crearfranja:checked ~ .modal_crearfranja{
	opacity: 1;
	visibility: visible;
} 
.contenedor_franja{
	width: 505px;
	height: 606px;
	margin: auto;	
	background-image: url('/img/bg.svg');
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
.btn_crearfranja:checked ~ .modal_crearfranja .contenedor_franja{
	transform: translateY(0%);
} 
.contenedor_franja header{
	padding: 10px;	
	color: #fff;
	text-align: center;
}
.contenedor_franja label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido_franja{
	width: 90%;
	height: 75%;
	padding: 10px; 
	background-color: rgba(255,255,255,0.8);
	position : absolute;
		top : 50%; left : 50%;
		transform : translate(-50%, -50%);
}
.contenido_franja h1{
	margin-bottom: 10px;
	text-align: center;
}
.contenido_franja p{	
	margin-bottom: 7px;
}
.btn_crearfranja{
	display: none;
}
.lbl_crearfranja{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor_franja{
		width: 95%;
	}
}