.boton{
    background-color: var(--color-purple-200);
    color: white;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}
.boton:hover{
    background-color: var(--color-aqua-200);
}
.boton:active{
    background-color: var(--color-aqua-100);
    color: var(--color-gray-200);
}