.header{
    background-color: var(--color-purple-200);
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1; 
}

.cell{
    display: flex;
    justify-content: center;
}

.cellOdd{
    background-color: var(--color-purple-100);
    color: var(--color-gray-200);
}
.cellEven{
    background-color: var(--color-purple-50);
    color: var(--color-gray-200);
}
.cellHour{
    background-color: var(--color-purple-200);
}
.texto{
    color: var(--color-gray-200);
    top: 0;
    z-index: 2;
}

.texto:hover{
    color:var(--color-blue-200)
}

.degrade{
    position:relative;
    position: -webkit-sticky; 
    position: sticky;
    left:0;
    bottom:-1px;
    z-index: 1;
    color: rgb(255,255,255,0);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 8%, rgba(255,255,255,0.5578606442577031) 70%, rgba(255,255,255,0.9) 100%);

}