.contenedor{
    background-color: var(--color-gray-50);
    padding: 1rem;
    color: var(--color-gray-200)
}

.contenedor:hover{
    background-color: gainsboro;
    color: var(--color-blue-200)
}

.contenedor:hover button{
    background-color: var(--color-blue-200)
}

.texto{
    font-weight: bold;
    margin: 0.3rem auto;
    text-align: center;
}

.boton{
    background-color: var(--color-gray-200);
    border-radius: 50%;
    max-width: 4rem;
    max-height: 4rem;
}
.boton:hover{
    background-color: var(--color-blue-100) !important;
    color: var(--color-gray-200);
}
.boton:active{
    background-color: var(--color-aqua-200);
}